html, body {
  margin:0;
  padding:0;
  height:100%;
  background-image: url("../img/grey_sandbag.png");
  /* Pattern grey_sandbag is downloaded from www.subtlepatterns.com */
  }
  
div.container {
  min-height:100%;
  position:relative;
  width: 989px; 
  margin: 0 auto;
  }
  
div.logo { /* belka na górze z nazwą zalogowanego użytkownika */
  background-image: url("../img/backlogo.jpg");
  width: 989px; 
  min-height:120px;
  margin: 5px;
  border-radius: 7px;
  }
  
div.content {
  width: 989px;   
  }
  
div.footer {
/* przyklejona stopka z linkami */
  clear: both;
  position: fixed;
  bottom: 0;
  background-image: url("../img/backlogo.jpg");
  width: 989px; 
  min-height:80px;
  margin: 5px;
  border-radius: 7px;
  text-align: center;
  color: white; 
  }
  
.logoimage { /* małe logo po lewej górnej stronie ekranu */
  height: 90px;
  width: 90px;
  border-radius: 45px;
  margin: 15px;
  float: left;
}

a {
    border: dotted 1px;
    border-radius: 4px;
    border-color: green;
    text-decoration: none;
    background-color: greenyellow; 
}

a.warning {
    border: dotted 1px;
    border-radius: 4px;
    border-color: yellow;
    text-decoration: none;
    background-color: red; 
    color: black;
}

.warning { /* nieprawidłowe hasła / loginy / ostrzeżenia, itp */
    color: red;
}

.tweet {
    border: dashed 1px green;
    border-radius: 4px;
}

div.logged { /* wyświetlana nazwa zalogowanego użytkonika na górnej belce */
    text-align: right;
    color: white;
}

/* a.linklogged { tylko na potrzeby testów
    border: dotted 1px;
    border-radius: 4px;
    border-color: green;
    text-decoration: none;
    background-color: greenyellow; 
} */

#footerlink8, #footerlink7, #footerlink6, #footerlink5, #footerlink4, #footerlink3, #footerlink2 {
    background-color: #c2c2a3; /* zabronione/nieaktywne linki na dolnej belce */
}