html, body {
  margin:0;
  padding:0;
  height:100%;
  background-image: url("../img/grey_sandbag.png");
  /* Pattern grey_sandbag is downloaded from www.subtlepatterns.com */
  }
  
div.container {
  min-height:100%;
  position:relative;
  width: 991px; 
  margin: 0 auto;
  }
  
div.logo {
  background-image: url("../img/backlogo.jpg");
  width: 989px; 
  min-height:120px;
  margin: 5px;
  border-radius: 7px;
  }
  
div.content {
  width: 989px;   
  }
  
div.footer {
  /*
  position:absolute;
  bottom:0;
  width: 989px; 
  min-height:60px;
  text-align: center; 
  */
  clear: both;
  position: fixed;
  bottom: 0;
  background-image: url("../img/backlogo.jpg");
  width: 989px; 
  min-height:80px;
  margin: 5px;
  border-radius: 7px;
  text-align: center;
  color: white; 
  }
  
.logoimage {
  height: 90px;
  width: 90px;
  border-radius: 45px;
  margin: 15px;
  float: left;
}

a {
    border: dotted 1px;
    border-radius: 4px;
    border-color: green;
    text-decoration: none;
    background-color: greenyellow; 
}

.warning {
    color: red;
}

.tweet {
    border: dashed 1px green;
    border-radius: 4px;
}

div.logged {
    text-align: right;
    color: white;
}

a.linklogged {
    border: dotted 1px;
    border-radius: 4px;
    border-color: green;
    text-decoration: none;
    background-color: greenyellow; 
}

#footerlink8, #footerlink7, #footerlink6, #footerlink5, #footerlink4, #footerlink3, #footerlink2 {
    background-color: #c2c2a3; 
}