html, body {
  margin:0;
  padding:0;
  height:100%;
  background-image: url("../img/grey_sandbag.png");
  }
  
div.container {
  min-height:100%;
  position:relative;
  width: 991px; 
  margin: 0 auto;
  }
  
div.logo {
  background-image: url("../img/backlogo.jpg");
  width: 989px; 
  min-height:120px;
  text-align: center;
  }
  
div.content {
  width: 989px;   
  }
  
div.footer {
  position:absolute;
  bottom:0;
  width: 989px; 
  min-height:60px;
  text-align: center;
  }